<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <p>Nice To See You</p>
    <p>Here Is The
        <%= title %>
    </p>
    
    <p>
        <%- content %>
    </p>
</body>

</html>